#container{
    display: flex;
    flex-direction: column;

    height: 500px;
    width:  500px;

}

body{
    margin: 0;
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    flex: 1;
    display: flex;
}

.square{
    flex: 1;
    border: 1px solid black;
    border-radius: 2px;
}

.top{
    width: auto;
    height: 40px;
    margin-bottom: 20px;
    margin-top: -1px;
    padding-top: 1px;
    background-color: lightgray;
}

#restart{

}

input{
    width: 20px;
}

.center{
    display: flex;
    justify-content: center;
}

.block{
    display: block;
}

.space{
    gap: 40px;
}

.undertext{
    margin: 0;
    margin-top: 20px;
    display: inline-block;
}