#container {
    display: flex;
    flex-direction: column;

    height: 500px;
    width: 500px;

}

body {
    margin: 0;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: 1px solid black;
    border-radius: 2px;
}

.top {
    width: auto;
    height: 40px;
    margin-bottom: 20px;
    margin-top: -1px;
    padding-top: 1px;
    background-color: lightgray;
}

#restart {
    margin: 20px;
    margin-bottom: 10px;
}

#rows {
    text-align: center;
    margin-left: 5px;
}

input {
    width: 22px;
}

.center {
    display: flex;
    justify-content: center;
}

.block {
    display: block;
}


.undertext {
    margin: 0;
    display: inline-block;
}